<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="%= BASE_URL %>favicon.ico">
    <title>section-2</title>
  </head>
  <body>

    <h1>notre restaurant préféré </h1>
    <p>Bienvenue chez nous !</p>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

      
    <div id="app"> 
      <p>bienvenue dans notre{{RestaurantName}}!nous sommes reputés avec 
        notre pain et notre merveilleuse pâtisserie,<br/>faites vous plaisir
         le matin avec un goûté réconfortant,mais attenti
         on,vous verrez qu'il est difficile de s'arreter</p>
         <section>
           <h2>menu</h2>
           <div v-for="item in simpleMenu" v-bind:key="item.name">
             <a
             v-bind:href="item.url"
             >{{item.name}}</a>
           <div>
              <h3>{{ item.name }}</h3>
              <p v-if="item.inStock">En stock</p>
              <p v-else>En rupture de stock</p>
              <div>
                <label for="add-item-quantity"
                  >Quantité : {{ item.quantity }}</label
                >
                <input
                  v-model.number="item.quantity"
                  id="add-item-quantity"
                  type="number"
                />
                <button @click="addToShoppingCart(item.quantity)">
                  Ajouter au panier
                </button>
           </div>
           </div>
           </div>
         </section>
         <aside class="shopping-cart">
          <h2>Panier d'achat : {{ shoppingCart }} articles</h2>
        </aside>
      <h2>Contactez nous:</h2>
      <P>téléphone:{{tél}}</P>
      <P>Adresse postal:{{ville}}</P>
      <P>Adresse email:{{email}}</P>
      <P>horaires:</P>
      <ul>
        <li>L-V de 9h à 16h</li>
        <li>Samedi de 9h à 14h</li>
        <li>dimanche de 9h à 12h</li>

      </ul>
      
      
    </div>
    <!-- built files will be auto injected -->
    <script>
      const app=new Vue({ 
        el:'#app',
        data: 
        {
          RestaurantName:'Café avec vue',
          tél:'0767740796',
          email:'rostandkana2@gmail.com',
          ville:'2 Boulevard Aristide Briand,89100,Sens',
      
          shoppingCart:0,
        simpleMenu:[
          {
            name:'croissant',
                     url:'https://www.marmiton.org/recettes/recette_croissants_11980.aspx',
                   
          
            inStock:true,
            quantity:1
          },
              
                
          {
            name:'baguette de pain',

            url:'https://www.cuisineactuelle.fr/recettes/baguette-maison-118655',
                    
            inStock:false,
            quantity:1,
          },
          { 
            name: "Baguette de pain",
				
            url: "./images/french-baguette.com",
							inStock: true,
							quantity: 1
						}

             ]
     },
     methods: {
					addToShoppingCart(amount) {
						this.shoppingCart += amount
          }
        }
      });
     
    </script>
  </body>
</html>
